<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/fontpoppins/poppins.css" />
    <link rel="stylesheet" href="./assets/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="./css/connect.css" />
    <script defer src="./scripts/main.js"></script>
    <script defer src="./scripts/connect.js"></script>
</head>

<body>
    <main>
        <form>
            <h1>Système de partage de fichier par réseau</h1>
            <label>Votre nom d'utilisateur</label>
            <input type="text" name="username" required value="miranto randriamampianina" />
            <label>Votre avatar</label>
            <div class="avatar-container">
                <img class="avatar-image selected" src="./assets/avatars/1b.png" data-source="1b" />
                <img class="avatar-image" src="./assets/avatars/2b.png" data-source="2b" />
                <img class="avatar-image" src="./assets/avatars/3b.png" data-source="3b" />
                <img class="avatar-image" src="./assets/avatars/4b.png" data-source="4b" />
                <img class="avatar-image" src="./assets/avatars/5b.png" data-source="5b" />
                <img class="avatar-image" src="./assets/avatars/1g.png" data-source="1g" />
                <img class="avatar-image" src="./assets/avatars/2g.png" data-source="2g" />
                <img class="avatar-image" src="./assets/avatars/3g.png" data-source="3g" />
                <img class="avatar-image" src="./assets/avatars/4g.png" data-source="4g" />
                <img class="avatar-image" src="./assets/avatars/5g.png" data-source="5g" />
            </div>
            <button type="button" name="connect_button">Acceder à l'application</button>
            <div class="message-container"></div>
        </form>
    </main>
</body>

</html>